@font-face {
  font-family: 'Yanolja Yache';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/YanoljaYache/YanoljaYache-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/YanoljaYache/YanoljaYache-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/YanoljaYache/YanoljaYache-Regular.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/YanoljaYache/YanoljaYache-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Yanolja Yache';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/YanoljaYache/YanoljaYache-Bold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/YanoljaYache/YanoljaYache-Bold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/YanoljaYache/YanoljaYache-Bold.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/YanoljaYache/YanoljaYache-Bold.ttf') format('truetype');
}